body {
  padding: 50px;
  
}

a {
  color: #00B7FF;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}



.header {
  text-align: center;
}
body {
    font-family: "Tangerine", serif;
    background-image: url("b.jpeg");

}

* {
    box-sizing: border-box;

}
form{
  width: 45%;
  float:right;

}
form.example input[placeholder] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    font-family: "Tangerine", serif;
    font-size: 30px;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 26px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
header {
    background: rgba(157, 194, 226, 0.6);
    color: white;
    clear: left;
    font-size: 50px;
    text-align: center;
    font-family: "Tangerine", serif;
}

</style>